[submodule "gradle/gradle-android-utils"]
	path = gradle/gradle-android-utils
	url = git@github.com:gfx/gradle-android-utils.git
[submodule "vendor/android-sqlite-helper"]
	path = vendor/android-sqlite-helper
	url = git@github.com:ichigotake/android-sqlite-helper.git
